[user]
  name = Fabian Langguth
  email = fabian.langguth@gmail.com
[push]
  default = simple
[alias]
  co = checkout
  ci = commit
  uci = reset HEAD^
  st = status
  cp = cherry-pick
  br = branch
  vv = branch -vv
  glog = log -n 40 --graph --full-history --all --pretty=format:"%h%x09%d%x20%s"
  df = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git diff --color \"$@\" | diff-so-fancy  | less --tabs=4 -RFX; }; f"
  sl = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all --since='180 days ago' --max-count=30

[core]
  excludesfile = ~/.gitignore
  editor = nvim
  pager = delta
[credential]
  helper = osxkeychain

[delta]
  dark = true
  syntax-theme = gruvbox-dark
  # File
  file-style = "#E2CCA9" bold
  file-added-label = [+]
  file-copied-label = [==]
  file-modified-label = [*]
  file-removed-label = [-]
  file-renamed-label = [->]
  # No hunk headers
  hunk-header-style = omit
  # Line numbers
  line-numbers = true
  line-numbers-left-style = "#84786A"
  line-numbers-right-style = "#84786A"
  line-numbers-minus-style = "#A02A11"
  line-numbers-plus-style = "#479B36"
  line-numbers-zero-style = "#84786A"
  line-numbers-left-format = " {nm:>3} │"
  line-numbers-right-format = " {np:>3} │"
  # Diff contents
  inline-hint-style = syntax
  minus-style = syntax "#330011"
  minus-emph-style = syntax "#80002a"
  minus-non-emph-style = syntax auto
  plus-style = syntax "#34381B"
  plus-emph-style = syntax "#54783B"
  plus-non-emph-style = syntax auto
  whitespace-error-style = "#FB4934" reverse
  # Commit hash
  commit-decoration-style = normal box
  commit-style = "#ffffff" bold
