snippet log
CT_LOGI("$0");
endsnippet

snippet cout
std::cout << "\U0001F98A " << $0 << std::endl;
endsnippet

snippet stda
std::array<$1, $2> $0
endsnippet

snippet stdv
std::vector<$1> $0
endsnippet
