snippet log
CT_LOGI("$0");
endsnippet

snippet co
std::cout << "\U0001F98A " << $0 << std::endl;
endsnippet

snippet stda
std::array<$1, $2> $0
endsnippet

snippet stdv
std::vector<$1> $0
endsnippet

snippet imfor
for (int y = 0; y < $1.height(); ++y) {
for (int x = 0; x < $1.width(); ++x) {
    $0
}
}
endsnippet
